$blanco: rgba(255, 255, 255, 1);
$azul-migtor: rgba(0, 68, 127, 1);
$guinda-auun: rgba(98, 10, 11, 1);
$magenta-casaamor: rgba(178, 78, 136, 1);
$naranja-irisroa: rgba(223, 146, 46, 1);
$verde-visionmx: rgba(0, 121, 64, 1);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

h1 {
    font-size: 4em;
    font-weight: 300;
    color: $blanco;
}

h2 {
    color: black;
    font-size: 4em;
    font-weight: 100;
    text-align: center;
    margin: 50px 0 0 35%;
    padding: 0;
    border-bottom: solid 5px $azul-migtor;
}

