$blanco: rgba(255, 255, 255, 1);
$azul-migtor: rgba(0, 68, 127, 1);
$guinda-auun: rgba(98, 10, 11, 1);
$magenta-casaamor: rgba(178, 78, 136, 1);
$naranja-irisroa: rgba(223, 146, 46, 1);
$verde-visionmx: rgba(0, 121, 64, 1);
$azul-numan: rgba(0, 47, 142, 1);
$rojo-numan: rgba(190, 0, 0, 1);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

h1 {
    font-size: 4.1em;
    font-weight: 300;
    color: $blanco;
    transition: all .7s cubic-bezier(0.445, 0.05, 0.55, 0.95);

    &:hover {
        transform: scale(1.2);
    }
}

h2 {
    color: black;
    font-size: 4em;
    font-weight: 100;
    text-align: center;
    margin: -100px 0 0 35%;
    padding: 0;
    border-bottom: solid 5px $azul-migtor;
}

.enfasis {
    font-weight: 900;
    color: $azul-numan;
}

.medio {
    font-weight: 400;
    color: black;
}

.fa-github-square, .fa-server, .fa-facebook-square, .fa-instagram-square {
    font-size: 2em;
    color: $blanco;
    margin: 50px;
    transition: all .4s cubic-bezier(0.785, 0.135, 0.15, 0.86);

    &:hover {
        transform: scale(2);
        color: $rojo-numan;
    }
}
