@use 'global' as *;

.proyectos {
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    gap: 100px;
    width: 80%;
    background-color: lightgrey;
    background-image:url(assets/img/textura-proyecto.jpg);
    background-size: cover;
    background-position: center bottom;
    height: auto;
    margin: 25px auto;
    padding: 80px;
    border-radius: 35px;

    .proyecto {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        aspect-ratio: 1 / 1;
        max-width: 250px;
        height: 250px;
        background-color: black ;
        border-radius: 25px;
        text-align: center;
        color: white;
        transition: all .75s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.75);
        border:  solid 5px white;
    }

    .proyecto:hover {
        transform: scale(1.1) rotate(45deg);
    }

    .contenido-proyecto {
        padding: 5px;
        transform: rotate(-45deg);
    }
        p {
            font-size: .8em;
            font-weight: 300;
            margin-bottom: 15px;
        }

        a {
            text-decoration: none;
            font-size: 1.2em;
            font-weight: 700;
            color: white;
            background-color: darkblue;
            padding: 5px 15px;
            border-radius: 500px;
            transition: background-color 1s cubic-bezier(0.215, 0.610, 0.355, 1);
        }

        a:hover {
            background-color: crimson;
        }

        .color-migtor {
            background-color: $blanco;
            border-color: $azul-migtor;
            color: $azul-migtor;
        }

    .logo-proyecto {
        width: 70%;
        height: auto;
    }
}