* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

h1 {
  font-size: 4.1em;
  font-weight: 300;
  color: white;
  transition: all 0.7s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
h1:hover {
  transform: scale(1.2);
}

h2 {
  color: black;
  font-size: 4em;
  font-weight: 100;
  text-align: center;
  margin: -100px 0 0 35%;
  padding: 0;
  border-bottom: solid 5px #00447f;
}

.enfasis {
  font-weight: 900;
  color: #002f8e;
}

.medio {
  font-weight: 400;
  color: black;
}

.fa-github-square, .fa-server, .fa-facebook-square, .fa-instagram-square {
  font-size: 2em;
  color: white;
  margin: 50px;
  transition: all 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.fa-github-square:hover, .fa-server:hover, .fa-facebook-square:hover, .fa-instagram-square:hover {
  transform: scale(2);
  color: #be0000;
}

.proyectos {
  display: grid;
  grid-template: 1fr 1fr/1fr 1fr 1fr;
  gap: 100px;
  width: 80%;
  background-color: lightgrey;
  background-image: url(assets/img/textura-proyecto.jpg);
  background-size: cover;
  background-position: center bottom;
  height: auto;
  margin: 125px auto;
  padding: 80px;
  border-radius: 35px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.75);
}
.proyectos .proyecto {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  aspect-ratio: 1/1;
  max-width: 250px;
  height: 250px;
  background-color: black;
  border-radius: 25px;
  text-align: center;
  color: white;
  transition: all 0.4s ease-in-out;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.75);
  border: solid 5px white;
}
.proyectos .proyecto:hover {
  transform: scale(1.1) rotate(45deg);
}
.proyectos .contenido-proyecto {
  padding: 5px;
  transform: rotate(-45deg);
}
.proyectos p {
  font-size: 0.8em;
  font-weight: 300;
  margin-bottom: 15px;
}
.proyectos a {
  text-decoration: none;
  font-size: 1em;
  font-weight: 700;
  color: white;
  background-color: darkblue;
  padding: 5px 15px;
  border-radius: 500px;
  transition: background-color 1s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.proyectos a:hover {
  background-color: crimson;
}
.proyectos .color-migtor {
  background-color: white;
  border-color: #00447f;
  color: #00447f;
}
.proyectos .color-auun {
  background-color: #620a0b;
  color: white;
}
.proyectos .color-casaamor {
  background-color: white;
  border-color: #b24e88;
  color: #b24e88;
}
.proyectos .color-vaccenter {
  background-color: white;
  border-color: #00447f;
  color: #00447f;
}
.proyectos .color-irisroa {
  background-color: #df922e;
  color: white;
}
.proyectos .color-visionmx {
  background: #007940;
  color: white;
}
.proyectos .logo-proyecto {
  width: 70%;
  height: auto;
}

.imagen-responsiva {
  width: 100%;
  height: auto;
}

.imagen-responsiva-h {
  width: auto;
  height: 50px;
}

.navbar-numan {
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.8) 0%, rgba(249, 250, 252, 0.81) 6.28%, rgba(232, 237, 245, 0.83) 14.58%, rgba(205, 214, 233, 0.85) 24.02%, rgba(167, 183, 216, 0.88) 34.29%, rgba(117, 143, 194, 0.9) 45.24%, rgba(58, 95, 168, 0.93) 56.57%, rgba(0, 47, 142, 0.95) 66.58%, rgba(190, 0, 0, 0.9) 100%);
  border-radius: 0 0 500px 0;
  width: 90%;
  margin-bottom: 100px;
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
}

.toggler-white {
  background-color: white;
  margin-right: 50px;
}

.wrapper {
  height: 120vh;
  position: relative;
  overflow: hidden;
}

video {
  z-index: 1;
  width: 100%;
  position: relative;
  top: 0;
}

.fondo-transparente {
  background-color: transparent;
}

.bienvenida {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 75%;
  height: 200px;
  padding: 50px 150px;
  background-color: rgba(190, 0, 0, 0.85);
  border-radius: 0px 0 0 500px;
  z-index: 300;
  position: absolute;
  top: 40%;
  right: 0;
}
.bienvenida h3 {
  font-size: 3em;
  font-weight: 900;
  color: white;
  letter-spacing: 0.12em;
  text-transform: uppercase;
}

.degradado-blanco {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.14) 11.5%, white 79.74%);
  position: absolute;
  width: 100%;
  height: 350px;
  z-index: 100;
  bottom: 0;
}

.ideario {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: auto;
  flex-direction: row;
  margin-bottom: 200px;
  position: relative;
}
.ideario .panel-izquierdo {
  flex: 10;
}
.ideario .rombo-izquierdo {
  aspect-ratio: 1/1;
  width: 1500px;
  background-color: #002f8e;
  background-image: url(assets/img/textura-rombo-izq.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transform: rotate(45deg);
  border-radius: 100px;
  position: relative;
  top: 300px;
  left: -800px;
}
.ideario .panel-derecho {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  flex: 2;
  position: absolute;
  top: 10%;
}
.ideario .panel-derecho > p {
  display: block;
  width: 45%;
  margin: 2% 10%;
  font-size: 1.8em;
  font-weight: 400;
  text-align: right;
}
.ideario .panel-derecho .titulo-rombo-derecho {
  display: block;
  width: 50%;
  font-size: 5em;
  text-align: right;
  margin-right: 10%;
}

.cursos {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 500;
  overflow: hidden;
}
.cursos .rombo-derecho {
  aspect-ratio: 1/1;
  width: 1500px;
  height: auto;
  border-radius: 100px;
  background-image: url(assets/img/textura-rombo-der.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  transform: rotate(45deg);
  position: relative;
  top: 300px;
  right: -800px;
}

footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 120px;
  background-color: black;
  margin: 0;
}

/*# sourceMappingURL=estilos-numan.css.map */
