* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

h1 {
  font-size: 4.1em;
  font-weight: 300;
  color: white;
  transition: all 0.7s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
h1:hover {
  transform: scale(1.2);
}

h2 {
  color: black;
  font-size: 4em;
  font-weight: 100;
  text-align: center;
  margin: -100px 0 0 35%;
  padding: 0;
  border-bottom: solid 5px #00447f;
}

.enfasis {
  font-weight: 900;
  color: #002f8e;
}

.medio {
  font-weight: 400;
  color: black;
}

.fa-github-square, .fa-server, .fa-facebook-square, .fa-instagram-square {
  font-size: 2em;
  color: white;
  margin: 50px;
  transition: all 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.fa-github-square:hover, .fa-server:hover, .fa-facebook-square:hover, .fa-instagram-square:hover {
  transform: scale(2);
  color: #be0000;
}

.proyectos {
  display: grid;
  grid-template: 1fr 1fr/1fr 1fr 1fr;
  gap: 100px;
  width: 80%;
  background-color: lightgrey;
  background-image: url(assets/img/textura-proyecto.jpg);
  background-size: cover;
  background-position: center bottom;
  height: 800px;
  margin: 125px auto 0;
  padding: 80px;
  border-radius: 35px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.75);
}
.proyectos .proyecto {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  aspect-ratio: 1/1;
  max-width: 250px;
  height: 250px;
  background-color: black;
  border-radius: 25px;
  text-align: center;
  color: white;
  transition: all 0.4s ease-in-out;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.75);
  border: solid 5px white;
}
.proyectos .proyecto:hover {
  transform: scale(1.1) rotate(45deg);
}
.proyectos .contenido-proyecto {
  padding: 5px;
  transform: rotate(-45deg);
}
.proyectos p {
  font-size: 0.8em;
  font-weight: 300;
  margin-bottom: 15px;
}
.proyectos a {
  text-decoration: none;
  font-size: 1em;
  font-weight: 700;
  color: white;
  background-color: darkblue;
  padding: 5px 15px;
  border-radius: 500px;
  transition: background-color 1s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.proyectos a:hover {
  background-color: crimson;
}
.proyectos .color-migtor {
  background-color: white;
  border-color: #00447f;
  color: #00447f;
}
.proyectos .color-auun {
  background-color: #620a0b;
  color: white;
}
.proyectos .color-casaamor {
  background-color: white;
  border-color: #b24e88;
  color: #b24e88;
}
.proyectos .color-vaccenter {
  background-color: white;
  border-color: #00447f;
  color: #00447f;
}
.proyectos .color-irisroa {
  background-color: #df922e;
  color: white;
}
.proyectos .color-visionmx {
  background: #007940;
  color: white;
}
.proyectos .logo-proyecto {
  width: 70%;
  height: auto;
}

.body-visionmx {
  background-image: url(assets/img/fondo-staff.jpg);
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: multiply;
  background-size: contain;
  margin: 20px 0;
  font-family: "Gochi Hand", cursive;
}

.biografia {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: row;
  width: 60%;
  height: auto;
  padding: 0;
  margin: 0 auto;
}
.biografia article {
  width: 55%;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.biografia .foto-staff {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  width: 40%;
  height: auto;
  background: linear-gradient(90deg, #f8ff00 50%, black 50%, black 100%);
  padding: 10px;
  margin: 0 10px;
  box-shadow: 10px 10px 20px 5px black;
  animation: staff 2s;
}
@keyframes staff {
  0% {
    transform: translateY(-1000px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes staff2 {
  0% {
    transform: translateX(1000px);
  }
  100% {
    transform: translateX(0);
    transform: translateY(0);
  }
}
.biografia .foto-staff {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  width: 100%;
  height: auto;
  background-color: yellow;
  margin: 0 0 10px 0;
}
.biografia .imagenresponsiva {
  width: 100%;
  height: auto;
}
.biografia .datos-staff {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 39%;
  height: height;
  margin: 0 10px;
  animation: staff2 2s;
}
.biografia .nombre-staff {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: auto;
  background-color: rgba(255, 255, 255, 0.35);
  background-blend-mode: hue;
  padding: 10px;
  margin: 0px;
}
.biografia .sub-staff {
  width: 90%;
}
.biografia .datos-staff h3 {
  font-family: "Gochi Hand", cursive;
  font-size: 1.8em;
  font-weight: 400px;
  text-align: flex-start;
  color: yellow;
  margin: 3px;
  text-shadow: none;
  text-decoration: none;
}
.biografia .titulete {
  font-family: "Fugaz One", cursive;
  font-size: 1.8em;
  margin: 0 0 0 10px;
  font-weight: 400;
  border-bottom: none;
}

.derecha {
  text-align: right;
}

.blanco {
  color: white;
}

.caracteristicas-staff {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 50px;
  padding: 40px 0;
  margin: 0px;
  background-color: rgba(255, 255, 255, 0.35);
  background-blend-mode: hue;
}

.caracteristicas-staff h3 {
  font-size: 1.2em;
}

.logos-caracteristicas {
  width: 30px;
  height: auto;
  margin-left: 20px;
}

.quien-eres {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  width: 100%;
  height: auto;
  background-color: yellow;
  padding: 30px;
  margin: 10px 0;
  font-family: "Gochi Hand", cursive;
  border-radius: 900px 0px 0px 900px;
  text-align: right;
}

.actividad-staff {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  height: 900px;
  padding: 0px;
  margin: 0px;
}

.que-haces {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding: 0 20px;
  margin: 40px 0;
  background-color: rgba(255, 255, 255, 0.35);
  background-blend-mode: hue;
}

.yellow-block {
  display: inline-block;
  padding: 2% 10%;
  background-color: rgba(255, 255, 0, 0.6);
  background-blend-mode: soft-light;
  transform: rotate(-4deg);
  text-align: left;
  margin-bottom: 20px;
}

.texto-blanco {
  color: white;
  font-size: 1.6em;
  padding: 5%;
}

.que-haces .haces {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 80%;
  height: 300px;
  padding: 0px;
  margin: 0px;
}

.eso {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 80%;
  height: 300px;
  background-color: dimgrey;
  padding: 0px;
  margin: 0px;
}

.obras-staf {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  width: 100%;
  height: 700px;
  background-color: lightgrey;
  padding: 0px;
  margin: 0px;
}

.arte1 {
  width: 49%;
}

.arte1 .obra2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  height: 200px;
  background-color: coral;
  padding: 0px;
  margin: 0px;
}

.obras2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 0px;
  margin: 40px 10px;
  transform: rotate(-10deg);
  transition: 1s;
  box-shadow: 5px 5px 20px 5px black;
}

.life-motto {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding: 50px 0;
  margin: 20px 0 0 0px;
  border: white 3px solid;
}

.obra3, .obra1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding: 0px;
  margin: 40px 10px;
  transform: rotate(-10deg);
  transition: 1s;
  box-shadow: 5px 5px 20px 5px black;
}

.obra3:hover {
  transform: scale(1.2);
}

.obra2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 0px;
  margin: 10px;
  transform: rotate(6deg) translateY(-50px);
  transition: 1s;
  box-shadow: 5px 5px 20px 5px black;
}

.obra2:hover {
  transform: scale(1.2) rotate(-10deg);
}

.obra1:hover {
  transform: scale(1.2) rotate(10deg);
}

.btn-grad {
  background-image: linear-gradient(to right, #DA22FF 0%, #9733EE 51%, #DA22FF 100%);
}

.btn-grad {
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.btn-grad:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.imagen-responsiva {
  width: 100%;
  height: auto;
}

.imagen-responsiva-h {
  width: auto;
  height: 50px;
}

.navbar-numan {
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.8) 0%, rgba(249, 250, 252, 0.81) 6.28%, rgba(232, 237, 245, 0.83) 14.58%, rgba(205, 214, 233, 0.85) 24.02%, rgba(167, 183, 216, 0.88) 34.29%, rgba(117, 143, 194, 0.9) 45.24%, rgba(58, 95, 168, 0.93) 56.57%, rgba(0, 47, 142, 0.95) 66.58%, rgba(190, 0, 0, 0.9) 100%);
  border-radius: 0 0 500px 0;
  width: 90%;
  margin-bottom: 100px;
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
}

.toggler-white {
  background-color: white;
  margin-right: 50px;
}

.wrapper {
  height: 120vh;
  position: relative;
  overflow: hidden;
}

video {
  z-index: 1;
  width: 100%;
  position: relative;
  top: 0;
}

.fondo-transparente {
  background-color: transparent;
}

.bienvenida {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 75%;
  height: 200px;
  padding: 50px 150px;
  background-color: rgba(190, 0, 0, 0.85);
  border-radius: 0px 0 0 500px;
  z-index: 300;
  position: absolute;
  top: 40%;
  right: 0;
}
.bienvenida h3 {
  font-size: 3em;
  font-weight: 900;
  color: white;
  letter-spacing: 0.12em;
  text-transform: uppercase;
}

.degradado-blanco {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.14) 11.5%, white 79.74%);
  position: absolute;
  width: 100%;
  height: 350px;
  z-index: 100;
  bottom: 0;
}

.ideario {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: auto;
  flex-direction: row;
  margin-bottom: 200px;
  position: relative;
}
.ideario .panel-izquierdo {
  flex: 10;
}
.ideario .rombo-izquierdo {
  aspect-ratio: 1/1;
  width: 1500px;
  background-color: #002f8e;
  background-image: url(assets/img/textura-rombo-izq.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transform: rotate(45deg);
  border-radius: 100px;
  position: relative;
  top: 300px;
  left: -800px;
}
.ideario .panel-derecho {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  flex: 2;
  position: absolute;
  top: 10%;
}
.ideario .panel-derecho > p {
  display: block;
  width: 45%;
  margin: 2% 10%;
  font-size: 1.8em;
  font-weight: 400;
  text-align: right;
}
.ideario .panel-derecho .titulo-rombo-derecho {
  display: block;
  width: 50%;
  font-size: 5em;
  text-align: right;
  margin-right: 10%;
}

.cursos {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 500;
  overflow: hidden;
}
.cursos .listado-cursos {
  position: absolute;
  height: auto;
  top: 200px;
}
.cursos .listado-cursos h3 {
  margin: 50px 0 0 10%;
}
.cursos .listado-cursos p {
  display: block;
  width: 40%;
  margin: 50px 0 0 10%;
  font-size: 1.8em;
  font-weight: 400;
  text-align: left;
}
.cursos listado-cursos ul, .cursos .listado-cursos li {
  list-style-type: none;
  margin: 25px 0 0 8%;
  font-size: 1.8em;
  font-weight: 400;
  text-align: left;
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.cursos li:hover {
  color: #002f8e;
  transform: scale(1.05);
  margin-left: 12%;
}
.cursos .boton-cursos-info {
  text-decoration: none;
  font-size: 1.5em;
  font-weight: 700;
  color: white;
  background-color: darkblue;
  padding: 5px 15px;
  border-radius: 500px;
  transition: background-color 1s cubic-bezier(0.215, 0.61, 0.355, 1);
  margin: 50px 10%;
}
.cursos .boton-cursos-info:hover {
  background-color: crimson;
}
.cursos .rombo-derecho {
  aspect-ratio: 1/1;
  width: 1500px;
  height: auto;
  border-radius: 100px;
  background-image: url(assets/img/textura-rombo-der.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  transform: rotate(45deg);
  position: relative;
  top: 300px;
  right: -800px;
}
.cursos .titulo-rombo-izquierdo {
  display: block;
  width: 50%;
  font-size: 5em;
  text-align: left;
  margin: 0 0 0 10%;
}

footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 120px;
  background-color: black;
  margin: 0;
}

/*# sourceMappingURL=estilos-numan.css.map */
